<h3 class="text-center">Review</h3>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Personal Information
        </div>
        <div class="card-body">
          <p class="card-text" id="full_name"><strong>Full Name:</strong><span class="label"></span> </p>
          <p class="card-text" id="email"><strong>Email:</strong><span class="label"></span></p>
          <p class="card-text" id="birth_date"><strong>Birth Date:</strong><span class="label"></span></p>
          <p class="card-text" id="blood_group"><strong>Blood Group:</strong><span class="label"></span></p>
          <p class="card-text" id="gender"><strong>Gender:</strong><span class="label"></span> </p>
          <button type="button" class="btn btn-md btn-warning text-white float-right" v-on:click="direct(1)">Edit</button>
        </div>
      </div>
    </div>
  </div>
    <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Birth Place Information
        </div>
        <div class="card-body">
          <p class="card-text" id="city_town"><strong>City/Town :</strong><span class="label"></span></p>
          <p class="card-text" id="tehsil"><strong>Tehsil:</strong><span class="label"></span></p>
          <p class="card-text" id="district"><strong>District:</strong><span class="label"></span></p>
          <p class="card-text" id="state"><strong>State:</strong><span class="label"></span></p>
          <p class="card-text" id="country"><strong>Country:</strong> <span class="label"></span></p>
          <p class="card-text" id="pin_code"><strong>PIN Code:</strong><span class="label"></span></p>
          <button type="button" class="btn btn-md btn-warning text-white float-right" v-on:click="direct(1)">Edit</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Guardian Details
        </div>
        <div class="card-body">
          <p class="card-text" id="id_parent-first_name"><strong>Parent's First Name :</strong><span class="label"></span></p>
          <p class="card-text" id="id_parent-middle_name"><strong>Parent's Middle Name:</strong><span class="label"></span></p>
          <p class="card-text" id="id_parent-last_name"><strong>Parent's Last Name:</strong><span class="label"></span></p>
          <p class="card-text" id="id_parent-relation"><strong>Relation:</strong><span class="label"></span></p>
          <p class="card-text" id="id_parent-qualification"><strong>Qualification:</strong><span class="label"></span></p>
          <p class="card-text" id="id_parent-occupation"><strong>Occupation:</strong><span class="label"></span></p>
          <p class="card-text" id="id_parent-aadhar_number"><strong>Aadhar Number:</strong><span class="label"></span></p>
          <p class="card-text" id="id_parent-pan_number"><strong>PAN Number:</strong><span class="label"></span></p>
          <p class="card-text" id="id_parent-annual_income"><strong>Annual Income:</strong><span class="label"></span></p>
          <p class="card-text" id="id_parent-incometax_payee"><strong>Incometax Payee:</strong><span class="label"></span></p>
          <button type="button" class="btn btn-md btn-warning text-white float-right" v-on:click="direct(1)">Edit</button>
        </div>
      </div>
    </div>
  </div>
   <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Reservation Information
        </div>
        <div class="card-body">
          <p class="card-text" id="id_reservation-religion"><strong>Religion :</strong><span class="label"></span></p>
          <p class="card-text" id="id_reservation-caste"><strong>Caste:</strong><span class="label"></span> </p>
          <p class="card-text" id="id_reservation-category"><strong>Category:</strong><span class="label"></span> </p>
          <p class="card-text" id="id_reservation-caste_cert_num"><strong>Caste Cert No:</strong><span class="label"></span> </p>
          <p class="card-text" id="id_reservation-caste_cert_date"><strong>Issued Date:</strong> <span class="label"></span> </p>
          <p class="card-text" id="id_reservation-handicaped"><strong>Handicapped:</strong> <span class="label"></span></p>
          <p class="card-text" id="id_reservation-handicap_type"><strong>Type:</strong> <span class="label"></span></p>
          <p class="card-text" id="id_reservation-handicap_percent"><strong>Percentage:</strong><span class="label"></span> </p>
          <p class="card-text" id="id_reservation-mental"><strong>Mentally Challenged:</strong> <span class="label"></span></p>
          <p class="card-text" id="id_reservation-mental_type"><strong>Type:</strong> <span class="label"></span></p>
          <p class="card-text" id="id_reservation-mental_percent"><strong>Percentage:</strong> <span class="label"></span></p>
          <button type="button" class="btn btn-md btn-warning text-white float-right" v-on:click="direct(1)">Edit</button>
        </div>
      </div>
    </div>
  </div>
   <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Previous School Information
        </div>
        <div class="card-body">
          <p class="card-text" id="id_admission-school_name"><strong>School Name :</strong><span class="label"></span></p>
          <p class="card-text" id="id_admission-school_code"><strong>School Code:</strong> <span class="label"></span></p>
          <p class="card-text" id="id_admission-last_class_attended"><strong>Last Class Attended:</strong> <span class="label"></span></p>
          <p class="card-text" id="id_admission-date_of_leaving"><strong>Date Of Leaving:</strong> <span class="label"></span></p>
          <p class="card-text" id="id_admission-prev_reg_number"><strong>Prev School Reg. Num:</strong>  <span class="label"></span></p>
          <button type="button" class="btn btn-md btn-warning text-white float-right" v-on:click="direct(1)">Edit</button>
        </div>
      </div>
    </div>
  </div>